<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"rel="stylesheet"/>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <% if(nav===true)   {%>
    <div class="items-center w-full px-10 py-3 fixed flex justify-between bg-zinc-800 text-white">
      <h3>Pinterest</h3>
      <div class="flex gap-10">
        <a href="/profile">Profile</a>
        <a href="/feed">Feed</a>
        <a class="px-3 py-2 bg-red-800 text-white rounded-lg" href="/logout">Logout</a>
      </div>
    </div>
    <% } %>
  